<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/members">MEMBERS</a>
    </li>
  </ul>

{% block content %}
  {% endblock %}

</div>
  <form method="post" action="cards/">
        {% csrf_token %}
        <p>{{ note.title }}:<br> <input {{ note.title }}="title" /></p>
        <p>{{ note.text }}:<br> <input {{ note.text }}="text" type="text" /></p>

        <input type="button" value="Редактировать" onclick= save/>
        <input type="button" value="Удалить" />
        <input type="button" value="Восстановить" />
        <input type="button" value="Сохранить" />

    </form>

</body>
</html>