{% extends 'base.html' %}

{% block title %}
    Список активных заметок
{% endblock %}


{% block content %}

{% if notes.count > 0 %}
    <h2>Список заметок</h2>
    <table>
        <thead>
            <th>Id</th><th>Заголовок</th><th>Текст заметки</th><th>Slag заметки</th><th></th>
        </thead>
        {% for note in notes %}
        <tr>
            <td>{{ note.id }}</td>
            <td>{{ note.title }}</td>
            <td>{{ note.text | truncatechars:30}}</td>
            <td>{{ note.slug }}</td>
            <td>
                <a href="edit/{{note.id}}">Изменить</a> |
                <a href="delete/{{note.id}}">Удалить</a> |
                <a href="cards/{{note.slug}}">Просмотреть</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}





