<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/members">MEMBERS</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
  <form method="post" action="postuser/">
        {% csrf_token %}
        <p>Name:<br> <input {{ note.name }}="name" /></p>
        <p>Age:<br> <input name="age" type="number" /></p>

        <input type="button" value="Редактировать" />
        <input type="button" value="Удалить" />
        <input type="button" value="Восстановить" />
    </form>
</body>
</html>